@use "../../scss//utils/" as *;

.root {
  position: relative;
  left: 50%;
  border-radius: rem(4);
  padding: rem(32);
  padding-top: rem(48);
  width: 100%;
  max-width: rem(768);
  color: var(--black-color);
  background-color: var(--light-color);
  transform: translateX(-50%);
}

.title {
  margin-bottom: rem(60);
  text-align: center;
}

.btn {
  margin-bottom: rem(16);
}

.descr {
  font: var(--body01-font);

  &Text {
    margin-right: rem(6);
  }

  &Link {
    color: var(--purple-color);
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.85;
    }
  }
}