@use "../../scss/utils/" as *;

.root {
  position: relative;

  &:hover {
    .toolbar {
      opacity: 1;
      visibility: visible;
    }
  }
}

.image {
  width: 100%;
  object-fit: contain;
  opacity: 0.8;
  transition: filter 0.3s, opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}

.link {
  position: relative;
  display: block;
  overflow: visible;
  width: rem(160);
  height: rem(32);
}