@use "../../../scss//utils/" as *;

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--black-color);
  background-color: var(--light-color);
}

.title {
  margin-bottom: rem(15);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  font: var(--body01-font);
}

.main {
  margin-bottom: rem(50);
}

.descr {
  margin: 0;
  margin-bottom: rem(30);
  max-width: rem(350);
}