@use "../../../scss/utils/" as *;

.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto min-content;
  height: rem(444);
  color: var(--black-color);
  background-image: url("../../../../public/img/why-we-started.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overview {
  display: flex;
  align-self: self-end;
  list-style: none;
  margin: 0;
  padding-block: rem(32);
  padding-inline: rem(49);
  max-width: max-content;
  background-color: var(--yellow-color);

  &Item {
    &:not(:last-child) {
      margin-right: rem(68);

      @include bp-down("container") {
        margin-right: 5vw; // 68>16(1360>320)
      }

      @include bp-down("414") {
        margin-right: 0;
        margin-bottom: rem(16);
      }
    }
  }

  &Data {
    display: block;
    font: var(--display-font);
    letter-spacing: rem(-2);

    @include bp-down("container") {
      font-size: calc(rem(29.85) + 1.92vw); // 56>36(1360>320)
    }
  }

  &Descr {
    font: var(--body01-font);
  }

  // **
  @include bp-down("768") {
    padding-block: rem(25);
    padding-inline: rem(30);
  }

  @include bp-down("500") {
    padding-block: rem(25);
    padding-inline: rem(20);
  }

  @include bp-down("414") {
    flex-direction: column;
  }
}