/* stylelint-disable order/order */
@use "../../../scss/utils/" as *;

.root {
  border: rem(1) solid var(--grayborder-color);
  border-radius: rem(4);
  padding-block: rem(24);
  height: max-content;
  color: var(--black-color);
  transition: padding-bottom 0.3s;

  @include bp-down("1024") {
    padding-block: revert;
  }

  &Active {
    padding-bottom: rem(12);
  }
}

.title {
  padding: rem(24);
  padding-top: rem(0);

  @include bp-down("1024") {
    display: none;
  }
}

// **
.accountMenuBtn {
  width: 100%;

  &Wrapper {
    display: none;
    padding: rem(24);

    @include bp-down("1024") {
      display: block;
    }
  }
}

// **
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;

  @include bp-down("1024") {
    overflow: hidden;
    height: 0;
    visibility: hidden;
  }

  &Active {
    visibility: visible;
  }
}

.item {
  &:first-child {
    border-top: rem(1) solid var(--grayborder-color);
  }

  &Active {
    background-color: var(--yellow-color);

    &:first-child {
      border-color: var(--yellow-color);
    }
  }

  &:hover {
    background-color: var(--yellow-hover-color);

    &:first-child {
      border-color: var(--yellow-hover-color);
    }
  }
}

.link {
  display: block;
  padding-block: rem(8);
  padding-inline: rem(24);
  width: 100%;
  height: 100%;
  font: var(--body01-font);
}