/* stylelint-disable order/order */
@use "../../scss/utils/" as *;

.root {
  display: grid;
  column-gap: rem(32);
  grid-template-columns: minmax(0, rem(490)) minmax(rem(50), rem(624));

  &CategoryPage {
    grid-template-columns: minmax(0, rem(294)) minmax(rem(50), rem(512));
  }

  &ArticlePage {
    grid-template-columns: minmax(0, rem(412)) minmax(rem(50), rem(580));
  }

  &:hover {
    img {
      transform: scale(1.03);
    }

    h3 {
      color: var(--mediumgray-color);
    }

    .toolbar {
      opacity: 1;
      visibility: visible;
    }
  }

  @include bp-down("768") {
    grid-template-columns: 1fr;
    row-gap: rem(20);
  }
}

.image {
  object-fit: cover;
  transition: 0.3s ease;

  &Wrapper {
    position: relative;
    display: flex;
    align-self: center;
    overflow: hidden;
    width: 100%;

    &Inner {
      position: relative;
      display: inline-block;
      padding-top: 65%;
      width: 100%;

      &CategoryPage {
        padding-top: 106.12%;
      }

      &ArticlePage {
        padding-top: 77.67%;
      }
    }
  }
}

.data {
  align-self: center;
  width: 100%;

  &Category {
    display: inline-block;
    margin-bottom: rem(20);
    font: var(--cap01-font);
    letter-spacing: rem(3);
    text-transform: uppercase;
    color: var(--purple-color);

    @include bp-down("container") {
      margin-bottom: calc(rem(6.86) + 0.98vw) // 20>10(1340>320)
    }
  }

  &Title {
    margin: 0;
    margin-bottom: rem(16);
    transition: color 0.3s ease;
  }

  &Text {
    display: -webkit-box;
    overflow: hidden;
    margin: 0;
    font: var(--body01-font);
    color: var(--mediumgray-color);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    &CategoryPage {
      -webkit-line-clamp: 3;
    }
  }
}

// Toolbar
.toolbar {
  position: absolute;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

  &Btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: rem(1) solid var(--black-color);
    border-radius: rem(10);
    width: rem(48);
    height: rem(48);
    transition: border-color 0.3s, background-color 0.3s;
    cursor: pointer;

    svg {
      width: rem(24);
      height: rem(24);
    }

    &:nth-child(1) {
      background-color: var(--light-color);

      &:hover {
        background-color: var(--success-color);
      }
    }

    &:nth-child(2) {
      padding: 0;
      background-color: var(--light-color);

      &:hover {
        color: var(--light-color);
        background-color: var(--danger-color);
      }
    }

    &:nth-child(3) {
      padding: 0;
      background-color: var(--light-color);

      &:hover {
        color: var(--light-color);
        background-color: var(--orange-color);
      }
    }
  }
}