@use "../../../scss/utils/" as *;

.root {
  color: var(--black-color);
}

.title {
  margin-bottom: rem(15);
}

.field {
  display: flex;
  align-items: center;
  gap: rem(10);

  &:not(:last-child) {
    margin-bottom: rem(10);
  }

  &:last-child {
    flex-direction: column;
    align-items: flex-start;
    border-top: rem(1) solid var(--grayborder-color);
    padding-top: rem(10);
  }

  &Name {
    font: var(--body01-font);
    font-weight: 600;
  }

  &Value {
    font: var(--body01-font);
  }
}