@use "../../scss/utils/" as *;

.root {
  padding-top: rem(128);
  padding-bottom: rem(123);

  @include bp-down("container") {
    padding-top: calc(rem(36.46) + 6.73vw); // 128>58(1360>320)
    padding-bottom: calc(rem(29.92) + 7.21vw); // 123>53(1360>320)
  }
}