@use "../../scss//utils/" as *;

.root {
  padding-top: rem(128);
  padding-bottom: rem(128);

  @include bp-down("container") {
    padding-top: calc(rem(23.38) + 7.69vw); // 128>48(1360>320)
    padding-bottom: calc(rem(36.46) + 6.73vw); // 128>58(1360>320)
  }
}