@use "../../../scss/utils/" as *;

.title {
  margin-bottom: rem(15);
}

.list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
  gap: rem(20);
}

.item {
  >article {
    height: 100%;
  }
}