@use "../../../scss/utils/" as *;

.title {
  margin-bottom: rem(15);
}

// **
.list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
  gap: rem(20);

  @include bp-down("1150") {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include bp-down("1024") {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include bp-down("876") {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include bp-down("576") {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.item {
  >article {
    height: 100%;
  }
}