@use "../../scss/utils/" as *;

.root {
  color: var(--black-color);
  background-color: var(--lavender-color);
}

.container {
  position: relative;
  display: grid;
  column-gap: rem(32);
  grid-template-columns: minmax(0, rem(251)) minmax(0, rem(669));
  padding-top: rem(128);
  padding-bottom: rem(126);

  @include bp-down("container") {
    padding-top: calc(rem(49.54) + 5.76vw); // 128>68(1360>320)
    padding-bottom: calc(rem(47.54) + 5.77vw); // 126>66(1360>320)
  }

  @include bp-down("678") {
    grid-template-columns: 1fr;
    row-gap: rem(25);
  }
}

// **
.image {
  object-fit: cover;

  &Wrapper {
    width: 100%;

    &Inner {
      position: relative;
      padding-top: 117%;
    }

    @include bp-down("678") {
      max-width: rem(400);
    }
  }
}

// **
.title {
  margin: 0;
  margin-bottom: rem(24);
  font: var(--h1-font);
  letter-spacing: rem(-2);

  @include bp-down("container") {
    font-size: calc(rem(40.15) + 0.57vw); // 48>42(1360>320)
  }
}

.descr {
  margin: 0;
  margin-bottom: rem(24);
  font: var(--body01-font);
  color: var(--mediumgrayc-olor);
}

.social {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &Item {
    &:not(:last-child) {
      margin-right: rem(16);
    }
  }
}

// **
.decoration {
  position: absolute;
  left: 0;
  bottom: 0;
}