@use "../../scss//utils/" as *;

.root {
  padding-block: rem(80);
  text-align: center;
  color: var(--black-color);
  background-color: var(--lavender-color);

  @include bp-down("container") {
    padding-block: calc(rem(44) + 1.87vw); // 80>50(1360>320)
  }
}

.title {
  margin: 0;
  margin-bottom: rem(3);
  font: var(--h1-font);
  letter-spacing: rem(-2);

  @include bp-down("container") {
    font-size: calc(rem(40.15) + 0.57vw); // 48>42(1360>320)
  }
}

.update {
  font: var(--body01-font);
  color: var(--black06-color);
}