@use "../../scss//utils/" as *;

.title {
  margin-bottom: rem(30);
}

.inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(30);
}

.inputWrapper {
  margin: 0;
}

.upload {
  width: 100%;
  height: 100%;
}