@use "../../../scss/utils/" as *;

.root {
  position: relative;
  overflow: hidden;
  border-left: rem(1) solid var(--mediumgray04-color);
  min-height: rem(310);
  color: var(--black-color);

  @include bp-down("876") {
    border-top: rem(1) solid var(--mediumgray04-color);
    border-left: none;
  }
}

.slider {
  display: flex;
  height: 100%;
  backface-visibility: hidden;
  touch-action: pan-y;
}

.item {
  display: flex !important;
  flex: 0 0 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-left: rem(96);
  width: 100%;
  min-width: 0;

  @include bp-down("container") {
    padding-left: calc(rem(-107.54) + 15.19vw); // 96>48(1340>1024)
  }

  @include bp-down("1024") {
    padding-left: rem(48);
  }

  @include bp-down("876") {
    padding-top: rem(36);
    padding-left: 0;
  }
}

.text {
  overflow: hidden;
  margin: 0;
  width: 100%;
  max-height: rem(160);
  font: var(--h4-font);
  transition: max-height 0.3s ease-in-out;

  &Wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(25);
    max-width: rem(469);
  }

  &Btn {
    position: relative;
    left: 50%;
    display: none;
    order: 1;
    border: none;
    padding: 0;
    width: max-content;
    background-color: transparent;
    transform: translateX(-50%);
    cursor: pointer;

    &::before {
      content: "...";
      font: var(--h3-font);
      line-height: 0.75;
    }

    &:hover {
      &::after {
        content: "Expand";
        position: absolute;
        left: 50%;
        bottom: 75%;
        border-radius: rem(8);
        padding: rem(5) rem(8);
        width: max-content;
        font: var(--body01-font);
        color: var(--light-color);
        background-color: var(--black-color);
      }
    }

    &[data-text-btn-visible] {
      display: block;
    }

    &[data-text-btn-active="true"] {
      &::before {
        content: "..";
      }

      &:hover {
        &::after {
          content: "Collapse";
        }
      }
    }
  }
}

.image {
  object-fit: cover;

  &Wrapper {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
    margin-right: rem(16);
    border-radius: 50%;
    width: rem(48);
    height: rem(48);
  }
}

.info {
  display: flex;
  max-width: calc(100% - rem(148 + 20)); // buttons width + gap

  @include bp-down("480") {
    max-width: none;
  }
}

.bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.metadata {
  display: flex;
  flex-direction: column;
}

.fullname {
  font: var(--h4-font);

  @include bp-down("576") {
    font-size: calc(rem(15) + 1.56vw); // 24>20(576>320)
  }
}

.address {
  font: var(--body01-font);
  color: var(--mediumgray-color);
}

.navigation {
  position: absolute;
  right: 0;
  bottom: rem(6);
  display: flex;
  align-items: center;

  @include bp-down("480") {
    display: none;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  padding: 0;
  width: rem(62);
  height: rem(62);
  background-color: var(--black-color);
  transition: opacity 0.3s, width 0.3s, height 0.3s, background-color 0.3s;
  cursor: pointer;

  svg {
    width: rem(28);
    height: rem(28);
    fill: var(--light-color);
    transform: rotate(90deg);
    transition: width 0.3s, height 0.3s;
  }

  &Inactive {
    width: rem(48);
    height: rem(48);
    background-color: var(--light-color);
    pointer-events: none;

    svg {
      width: rem(22);
      height: rem(22);
      fill: var(--black-color);
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:first-child {
    margin-right: rem(24);

    svg {
      transform: rotate(-90deg);
    }
  }
}