@use "../../scss/utils/" as *;

.title {
  margin-bottom: rem(15);
}

.content {
  // width: 100%;
  display: grid;
  row-gap: rem(20);
}

.input {
  resize: none;
}

// grid
.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--black-color);
  gap: rem(30);

  &Item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: rem(4);
    padding: rem(24);
    font: var(--body01-font);
    background-color: var(--lightgray-color);
  }

  &Title {
    margin: 0;
    font: var(--h3-font);
  }

  &Btn {
    display: flex;
    column-gap: rem(4);
    align-items: center;
    margin-top: auto;
    width: max-content;
    line-height: 0;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    svg {
      width: rem(18);
      height: rem(18);
    }
  }

  @include bp-down("1120") {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include bp-down("1024") {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include bp-down("876") {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include bp-down("576") {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}