@use "../../../scss/utils/" as *;

.title {
  margin-bottom: rem(15);
}

.btn {
  margin-bottom: rem(30);
}

// **
.list {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: rem(20);
}