@use "../../../scss/utils/" as *;

.title {
  margin-bottom: rem(15);
}

// **
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  &:not(:last-child) {
    margin-bottom: rem(20);
  }
}