@use "../../scss/utils/" as *;

.root {
  padding-block: rem(80);

  // @include bp-down("container") {
  //   padding-block: calc(rem(41.54) + 5.77vw); // (120>60)1360>320
  // }
}

.title {
  margin: 0;
  margin-bottom: rem(20);
  font: var(--h1-font);
}

.content {
  display: grid;
  column-gap: rem(60);
  grid-template-columns: minmax(0, rem(280)) minmax(rem(670), 1fr);

  @include bp-down("1290") {
    column-gap: rem(45);
  }

  @include bp-down("1024") {
    grid-template-columns: 1fr;
    row-gap: rem(45);
  }
}