@use "../../scss/utils/" as *;

.root {
  padding-top: rem(128);
  padding-bottom: rem(125);
  text-align: center;
  color: var(--black-color);

  @include bp-down("container") {
    padding-top: calc(rem(75.45) + 3.92vw); // 128>88(1340>320)
    padding-bottom: calc(rem(72.45) + 3.92vw); // 125>85(1340>320)
  }
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  max-width: rem(414);

  @include bp-down("container") {
    max-width: calc(rem(283.94) + 9.7vw); // 414>315(1340>320)
  }
}

.title {
  margin-bottom: rem(16);
}

.descr {
  margin: 0;
  margin-bottom: rem(32);
  font: var(--body01-font);
  color: var(--mediumgray-color);
}