@use "../../scss/utils/" as *;

.root {
  padding-top: rem(128);
  color: var(--black-color);

  @include bp-down("container") {
    padding-top: calc(rem(42.6) + 6.37vw) // 128>63(1340>320)
  }
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(0, max-content);
  grid-template-rows: repeat(2, auto);
  overflow: hidden;

  // width: 100%;
}

.coincidenceBlock1 {
  position: relative;
  z-index: var(--z-up);

  &::before {
    content: "";
    display: block;
    padding-top: 21%;
    width: 100%;
  }
}

.image {
  bottom: 0;
  width: 100%;
  object-fit: cover;
  object-position: center bottom;

  // height: 100%;
  // object-position: rem(158) bottom;

  &Wrapper {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: rem(949);

    // right: rem(331);
  }
}

.content {
  position: relative;
  z-index: var(--z-up);
  place-self: self-end;
  padding: rem(80);
  padding-bottom: rem(79);
  max-width: rem(706);
  background-color: var(--light-color);

  @include bp-down("768") {
    padding: calc(rem(-48.57) + 16.74vw); // 80>5(768>320)
  }
}

.subtitle {
  display: inline-block;
  margin-bottom: rem(24);
  font: var(--cap01-font);
  letter-spacing: rem(3);
  text-transform: uppercase;

  @include bp-down("768") {
    margin-bottom: calc(rem(10.29) + 1.79vw); // 24>16(768>320)
  }
}

.title {
  margin: 0;
  margin-bottom: rem(16);
  font: var(--h1-font);
  letter-spacing: rem(-2);

  @include bp-down("container") {
    font-size: calc(rem(29.6) + 1.37vw); // 48>34(1340>320)
  }
}

.descr {
  margin-bottom: rem(32);
  font: var(--body01-font);
  color: var(--mediumgray-color);
}