@use "./utils/" as *;

.srOnly {
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.overflowHiddenX {
  overflow-x: hidden;
}

.container {
  max-width: rem(1280);

  @include bp-up("container") {
    margin-inline: auto;
  }

  @include bp-down("container") {
    margin-inline: rem(40);
  }

  @include bp-down("992") {
    margin-inline: rem(30);
  }

  @include bp-down("576") {
    margin-inline: rem(15);
  }
}

.title {
  margin: 0;
  font: var(--h2-font);
  letter-spacing: rem(-2);
  color: var(--black-color);
}

.btn {
  display: inline-block;
  padding-top: rem(17);
  padding-bottom: rem(15);
  padding-inline: rem(48);
  font: var(--btn-font);
  color: var(--black-color);
  background-color: var(--yellow-color);

  &White {
    background-color: var(--light-color);
  }

  &:hover {
    background-color: var(--yellow-hover-color);
    transition: background-color 0.3s;
  }
}