/* stylelint-disable order/order */
@use "./utils/" as *;

.srOnly {
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.overflowHiddenX {
  overflow-x: hidden;
}

.container {
  max-width: rem(1280);

  @include bp-up("container") {
    margin-inline: auto;
  }

  @include bp-down("container") {
    margin-inline: rem(30);
  }

  @include bp-down("992") {
    margin-inline: rem(20);
  }

  @include bp-down("576") {
    margin-inline: rem(10);
  }

  &836 {
    max-width: rem(836);

    @include bp-down("container") {
      margin-inline: auto;
    }

    @include bp-down("992") {
      margin-inline: auto;
    }

    @include bp-down("896") {
      // 836 + 20*2(margin-inline) + 20(scrollbar)
      margin-inline: rem(20);
    }

    @include bp-down("576") {
      margin-inline: rem(10);
    }
  }

  &768 {
    max-width: rem(768);

    @include bp-down("container") {
      margin-inline: auto;
    }

    @include bp-down("992") {
      margin-inline: auto;
    }

    @include bp-down("828") {
      // 768 + 20*2(margin-inline) + 20(scrollbar)
      margin-inline: rem(20);
    }

    @include bp-down("576") {
      margin-inline: rem(10);
    }
  }

  &1024 {
    max-width: rem(1024);

    @include bp-down("container") {
      margin-inline: auto;
    }

    @include bp-down("1084") {
      // 1024 + 30*2(margin-inline) + 20(scrollbar)
      margin-inline: rem(30);
    }

    @include bp-down("992") {
      margin-inline: rem(20);
    }

    @include bp-down("576") {
      margin-inline: rem(10);
    }
  }
}

.containerAboutUs {
  padding-left: rem(108);

  @include bp-down("container") {
    padding-left: calc(rem(-207.71) + 23.21vw); // 108>30(1360>1024)
  }

  @include bp-down("1024") {
    padding-left: rem(30);
  }

  @include bp-down("1024") {
    padding-left: 0;
  }
}

.title {
  margin: 0;
  font: var(--h2-font);
  letter-spacing: rem(-2);
  color: var(--black-color);

  @include bp-down("container") {
    font-size: calc(rem(25.49) + 0.78vw); // 36>28 (1340>320)
  }
}

.btn {
  display: inline-block;
  border: rem(1) solid var(--yellow-color);
  padding-top: rem(17);
  padding-bottom: rem(15);
  padding-inline: rem(48);
  font: var(--btn-font);
  color: var(--black-color);
  background-color: var(--yellow-color);
  transition: opacity 0.3s;
  cursor: pointer;

  &White {
    background-color: var(--light-color);
  }

  &Lg {
    padding-block: rem(15);
    width: 100%;
    font: var(--h4-font);
  }

  &Disabled {
    opacity: 0.8;
    pointer-events: none;
  }

  &Wrapper {
    position: relative;

    &::before {
      content: none;
      position: absolute;
      left: 0;
      top: calc(100% - rem(6));
      font: var(--validation-font);
    }

    &Success {
      &::before {
        content: "Data sent";
        color: var(--success-color);
      }
    }

    &Warning {
      &::before {
        content: "Failed to send data";
        color: var(--danger-color);
      }
    }

    &Process {
      &::before {
        content: "Data is sent...";
      }
    }
  }

  &:hover {
    border: rem(1) solid var(--yellow-hover-color);
    background-color: var(--yellow-hover-color);
    transition: background-color 0.3s;
  }
}

.socialBtn {
  display: inline-flex;

  svg {
    width: rem(16);
    height: rem(16);
    fill: var(--mediumgray-color);
    transition: fill 0.3s;

    &:hover {
      fill: var(--yellow-hover-color);
    }
  }

  &Dark {
    svg {
      width: rem(16);
      height: rem(16);
      fill: var(--black-color);
      transition: fill 0.3s;

      &:hover {
        fill: var(--darkgray-color);
      }
    }
  }
}

.metadata {
  display: flex;
  align-items: center;
  margin-bottom: rem(16);
  font: var(--label-font);
  color: var(--darkgray-color);
  transition: color 0.3s;

  &Item {
    &:first-child {
      &::after {
        content: "l";
        padding-right: rem(10);
        padding-left: rem(12);
        font: inherit;
      }

      &Gold {
        &:first-child {
          &::after {
            content: "|";
          }
        }
      }
    }
  }

  &Name {
    color: var(--purple-color);
    transform: color 0.3s;

    &:hover {
      color: var(--black-color);
    }

    &Gold {
      color: var(--yellow-color);

      &:hover {
        color: var(--yellow-hover-color);
      }
    }
  }

  &Gold {
    font: var(--body01-font);
    color: var(--light-color);
  }
}

.decoration {
  width: 100%;
  height: rem(23);
  background-color: transparent;

  &Item {
    display: inline-block;
    height: 100%;

    &:nth-child(1) {
      width: 17%;
    }

    &:nth-child(2) {
      width: 61%;
      background-color: var(--yellow-color);
    }

    &:nth-child(3) {
      width: 22%;
      background-color: var(--purple-color);
    }

    &Purple {
      &:nth-child(1) {
        width: 27%;
        background-color: var(--purple-color);
      }

      &:nth-child(2) {
        width: 47%;
        background-color: var(--yellow-color);
      }

      &:nth-child(3) {
        width: 26%;
        background-color: transparent;
      }
    }

    &Yellow {
      &:nth-child(1) {
        width: 73.5%;
        background-color: var(--yellow-color);
      }

      &:nth-child(2) {
        width: 26.5%;
        background-color: var(--purple-color);
      }
    }
  }
}

// **
.input {
  outline: none;
  border: rem(1) solid var(--mediumgray05-color);
  border-radius: rem(2);
  padding-right: rem(86);
  padding-left: rem(24);
  padding-block: rem(23);
  width: 100%;
  font: var(--body01-font);
  color: inherit;
  background-color: var(--light-color);
  transition: border-color 0.3s;

  &Wrapper {
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      top: calc(100% - rem(6));
      font: var(--validation-font);
    }

    &::after {
      position: absolute;
      right: rem(66);
      top: 50%;
      z-index: var(--z-up);
      display: block;
      width: rem(20);
      height: rem(20);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transform: translate(50%, -50%);
    }

    svg {
      position: absolute;
      right: rem(66);
      top: 50%;
      z-index: var(--z-up);
      display: block;
      transform: translate(50%, -50%);
    }

    &Warning {
      &::before {
        color: var(--danger-color);
        opacity: 1;
        visibility: visible;
      }

      &::after {
        content: "";
        background-image: url("../../public/img/warning.svg");
        opacity: 1;
        visibility: visible;
      }

      >.input {
        border-color: var(--danger-color);

        svg {
          display: none;
        }
      }

      &[data-validity="email"] {
        &::before {
          content: "Email must contain «@» and «.»";
        }
      }

      &[data-validity="pass-length"] {
        &::before {
          content: "Password must contain at least 6 characters.";
        }

        &::after {
          content: none;
        }
      }

      &[data-validity="pass-confirm"] {
        &::before {
          content: "Passwords do not match.";
        }

        &::after {
          content: none;
        }
      }
    }

    &Success {
      &::before {
        content: "Looks good!";
        color: var(--success-color);
        opacity: 1;
        visibility: visible;
      }

      &::after {
        content: "";
        background-image: url("../../public/img/success.svg");
        opacity: 1;
        visibility: visible;
      }

      >.input {
        border-color: var(--success-color);

        svg {
          display: none;
        }
      }

      &[data-validity^="pass-"] {
        &::after {
          content: none;
        }
      }
    }
  }

  // **
  &::placeholder {
    font: inherit;
    color: inherit;
  }

  &:focus {
    border: rem(1) solid var(--black-color);
  }

  // ****
  @include bp-down("container") {
    padding-right: calc(rem(33.96) + 3.82vw); // 86>56(1360>576)
    padding-left: calc(rem(8) + 3.12vw); // 26>18(576>320)

    &Wrapper {
      &::after {
        right: calc(rem(13.96) + 3.82vw); // 66>36(1320>576)
      }

      svg {
        right: calc(rem(13.96) + 3.82vw); // 66>36(1320>576)
      }
    }
  }
}

// **
.select {
  position: relative;
  cursor: pointer;

  &Head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black-color);

    &:hover {
      color: var(--mediumgray-color);
    }

    // &Dark {
    //   color: inherit;

    //   svg {
    //     width: rem(8);
    //     height: rem(8);
    //     fill: currentcolor;
    //     transition: fill 0.3s;
    //   }

    //   &:hover {
    //     color: var(--white-color);
    //   }
    // }

    &Active {
      color: var(--darkgray-color);
    }
  }

  &Selected {
    margin-right: rem(4);
    transition: color 0.3s;
    user-select: none;
  }

  &Wrapper {
    position: absolute;
    right: 0;
    top: calc(100% + rem(4));
    z-index: var(--z-postup);
    border: rem(1) solid var(--mediumgray-color);
    border-radius: rem(4);
    padding-right: rem(10); // Для каст. скроллбара
    width: 100%;
    // box-shadow: var(--small-shadow);
    background-color: var(--light-color);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    cursor: default;

    // &Dark {
    //   padding: rem(10) rem(20);
    //   width: 200%; 
    // }

    &Active {
      opacity: 1;
      visibility: visible;
    }
  }

  &List {
    list-style: none;
    overflow: auto;
    margin: 0;
    padding: 0;
    max-height: rem(160);
    background-color: var(--light-color);
  }

  &Item {
    padding-block: rem(2);
    color: var(--black-color);
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: var(--mediumgray-color);
    }

    &Active {
      color: var(--mediumgray-color);
    }
  }
}