/* stylelint-disable rule-empty-line-before */
@use "../utils/" as *;

:root {
  // Colors
  --black-color: #232536;
  --yellow-color: #ffd050;
  --darkgray-color: #4c4c4c;
  --mediumgray-color: #6d6e76;
  --purple-color: #592ea9;
  --light-color: #fff;
  --lightyellow-color: #fbf6ea;
  --lightgray-color: #f4f4f4;
  --lavender-color: #f4f0f8;

  // **
  --yellow-hover-color: #edc14a;
  --mediumgray06-color: rgb(110 111 120 / 60%);
  --mediumgray04-color: rgb(110 111 120 / 40%);
  --mediumgray03-color: rgb(110 111 120 / 30%);
  --mediumgray01-color: rgb(110 111 120 / 10%);
  --light005-color: rgb(255 255 255 / 5%);
  --light070-color: rgb(255 255 255 / 70%);
  --featured-color: #282938;
  --post-marker-color: #494a53;

  // Filters
  --featured-filter: invert(14%) sepia(7%) saturate(2165%) hue-rotate(198deg) brightness(89%) contrast(90%);

  // Fonts
  --display-font: 700 3.5rem / 114% "Sen", sans-serif; // 56
  --h1-font: 700 3rem / 133% "Sen", sans-serif; // 48
  --h2-font: 700 2.25rem / 133% "Sen", sans-serif; // 36
  --h3-font: 700 1.75rem / 142% "Sen", sans-serif; // 28
  --h4-font: 700 1.5rem / 133% "Sen", sans-serif; // 24
  --h5-font: 700 1.25rem / 160% "Sen", sans-serif; // 20
  --h6-font: 700 1rem / 150% "Sen", sans-serif; // 16

  // **
  --body01-font: 400 1rem / 175% "Inter", sans-serif; // 16
  --body02-font: 400 0.875rem / 142% "Inter", sans-serif; // 14
  --label-font: 500 0.875rem / 142% "Inter", sans-serif; // 14

  // **
  --cap00-font: 900 1rem / 125% "Inter", sans-serif; // 16
  --cap01-font: 600 1rem / 125% "Inter", sans-serif; // 16
  --cap03-font: 500 1rem / 125% "Inter", sans-serif; // 16

  // **
  --btn-font: 700 1.125rem / 133% "Sen", sans-serif; // 18
  --btn2-font: 700 1.125rem / 177% "Sen", sans-serif; // 18

  // Z-indexes
  --z-modal: 1000;
  --z-premodal: 999;
  --z-tooltip: 100;
  --z-postfixed: 11;
  --z-fixed: 10;
  --z-prefixed: 9;
  --z-postup: 2;
  --z-up: 1;
  --z-down: -1;

  // Offsets
  --scrollbar-offset: 0;

  // Animations
  // --to-right-05-animation: to-right 0.4s ease-in-out forwards 0.5s;

  // Gradients
  // --overlay-gradient: radial-gradient(80.99% 71.93% at 74.58% 0%, rgb(0 0 0), rgba(0 0 0 / 60%) 100%);
  --overlay-gradient: radial-gradient(80.99% 71.93% at 74.58% 0%, rgba(0 0 0 / 40%) 0%, rgba(0 0 0 / 60%) 100%);
}

// Skeleton
@keyframes skeleton-animation {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}