@use "../utils/" as *;

:root {
  // Colors
  --black-color: #232536;
  --yellow-color: #ffd050;
  --darkgray-color: #4c4c4c;
  --mediumgray-color: #6d6e76;
  --purple-color: #592ea9;
  --light-color: #fff;
  --lightyellow-color: #fbf6ea;
  --lightgray-color: #f4f4f4;
  --lavender-color: #f4f0f8;

  // **
  --yellow-hover-color: #edc14a;

  // Filters
  // --primary-filter: invert(28%) sepia(11%) saturate(5606%) hue-rotate(143deg) brightness(97%) contrast(82%);

  // Fonts
  --display-font: 700 3.5rem / 114% "Sen", sans-serif; // 56
  --h1-font: 700 3rem / 114% "Sen", sans-serif; // 48
  --h2-font: 700 2.25rem / 133% "Sen", sans-serif; // 36
  --h3-font: 700 1.75rem / 142% "Sen", sans-serif; // 28
  --h4-font: 700 1.5rem / 133% "Sen", sans-serif; // 24
  --h5-font: 700 1.25rem / 160% "Sen", sans-serif; // 20
  --h6-font: 700 1rem / 150% "Sen", sans-serif; // 16

  // **
  --body01-font: 400 1rem / 175% "Inter", sans-serif; // 16
  --body02-font: 400 0.875rem / 142% "Inter", sans-serif; // 14
  --label-font: 500 0.875rem / 142% "Inter", sans-serif; // 14

  // Z-indexes
  --z-modal: 1000;
  --z-premodal: 999;
  --z-tooltip: 100;
  --z-postfixed: 11;
  --z-fixed: 10;
  --z-prefixed: 9;
  --z-postup: 2;
  --z-up: 1;
  --z-down: -1;

  // Offsets
  --scrollbar-offset: 0;

  // Animations
  // --to-right-05-animation: to-right 0.4s ease-in-out forwards 0.5s;
}

// Skeleton
@keyframes skeleton-animation {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}